////////////////////////
/// far scss
/// ////////////////////

////////////////////////
/// reset
/// ////////////////////

/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

////////////////////////
/// variables
////////////////////////

//layout
$container-base: 1800px;

//spacing
$padding-base: 15px;

// grid 
$grid-gap: 2rem;

//font-family
// $font-heading: 'Open Sans', sans-serif;
// $font-body: 'Open Sans', sans-serif;
$font-heading:'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif; 

$font-thin: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

//colors
$color-dark: #41533F; //theme cta
$color-medium: #EFF6DF; //mint
$color-light: #F8FBEF; // apple
$color-extra-light: #baac9e; //mild sand


$color-bg-dark: #2E2925; //coffee
$color-bg-light: #f3f3f3; //light beige

// cta colors
$color-cta: #41533F; // cta
$color-cta-hover: #fff; // cta hover


// text colors dark
$color-heading-dark: #3A4835; // heading dark text
$color-txt-dark: #141414; // paragraph text

// text colors light
$color-heading-light: #fff; // heading light text
$color-txt-light: #fff; // paragraph light text

//shadow
$text-shadow: 1px 1px 1.2px $color-dark;
$box-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49);
$form-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49); 
$nav-shadow-bottom: 1px 4px 3px 0px rgba(203, 203, 203, 0.49);
$nav-shadow-top: 1px -4px 3px 0px rgba(203, 203, 203, 0.49);

// z-index 
$block-bg: -2000;
$z-cta: 1000;
$z-nav: 5000;
$z-modal: 10000; 


////////////////////////
/// general layout
/// ////////////////////

.page-wrapper {
    margin-top: -15vh;
    .page-content {
  
    }
}

.container {
    max-width: $container-base;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 $padding-base*2;
}

.wp-block-columns {
    grid-gap: $padding-base*4;
}

////////////////////////
/// typographie
////////////////////////

body {
    font-family: $font-body;
    font-weight: $font-regular;
    font-size: 1rem;
    line-height: 24px;
    color: $color-txt-dark;
    text-align: justify;
}

h1 {
    font-family: $font-heading;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: $color-heading-dark;
    font-style: regular;
    @media only screen and (max-width: 992px) { }
@media only screen and (max-width: 768px) {
    font-size: 1rem;
}
    }
    
h2 {
    font-family: $font-heading;
    font-weight: $font-medium;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: $color-heading-dark;
    @media only screen and (max-width: 768px) {
        font-size: .8rem;
    }
}

h3 {
    font-family: $font-body;
    font-weight: $font-medium;
    letter-spacing: 1px;
    font-size: 1rem;
    color: $color-heading-dark;
    font-style: normal;
    padding-bottom: 1rem;
    @media only screen and (max-width: 768px) {
        font-size: .8rem;
        line-height: 30px;
    }
}

p{
    font-weight: $font-thin;
    line-height: 1.75rem;
    font-style: normal;
    padding-bottom: 1.75rem;
    color: $color-txt-dark;
    letter-spacing: .5px;
}

a{
    font-family: $font-body;
    font-weight: $font-bold;
    line-height: 35px;
    color: $color-cta;
    font-size: inherit;
    letter-spacing: .5px;
}

ul {
    display: block;
    text-align: center;
    line-height: 2rem;
}

li {
    list-style-position: inside;
    list-style-type: disc;
    font-weight: $font-thin;
    font-size: 1.25rem !important;
}

strong {
    font-weight: $font-bold;
}

////////////////////////
/// navigation
////////////////////////

.nav-main {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: $z-nav;
    .nav-inner {
        overflow: visible;
    }
    .nav-items {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        height: 15vh;
        max-height: 150px;
        padding: $padding-base*2 0;
        .col {
            display: flex;
        }
        .nav-toggle {
            justify-content: flex-start;
        }
        .nav-logo {
            margin-top: $padding-base*4;
            justify-content: center;
            overflow: hidden;
            img {
                max-width: 500px;
                height: auto;
                max-height: 500px;
            }
        }
        .nav-cta {
            justify-content: flex-end;
            .btn {
                display: none;
            }
        }
    }
}

// nav-cta active when scrolled
.nav-cta-active {
    .nav-cta {
        .btn {
            display: block !important;
        }
    }
}

// nav-logo large when on page over ons

.nav-logo-large {
    .nav-logo {
        display: none !important;
    }
}

.nav-footer { 
background-color: $color-cta;
.nav-items {
    ul {
    padding: $padding-base*2 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: $padding-base*1;
    @media only screen and (max-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    a,
    p, 
    li {
        color: $color-txt-light;
        font-size: 0.95rem;
        text-align: left;
    }
    li {
        list-style: none;
    }

    }
}
}

.credits {
    color: $color-txt-light;
    font-size: 0.8rem;
    text-align: center;
}

// button generic 
.btn {
    background-color: transparent;
    max-width: 300px;
    min-width: 200px;
    border-radius: 0px;
    font-size: .9rem;
    text-align: center;
    padding: 0 1rem;
    font-weight: $font-regular;
    display: grid;
    place-items: center;
    font-style: normal;
    letter-spacing: 1px;
    text-shadow: none;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
    @media only screen and (max-width: 768px) {
        font-size: .9rem;
    }
}

// button fill 
.btn-fill {
    color: #fff;
    background-color: $color-cta;
    border: 1px solid $color-cta;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &:hover {
        background-color: $color-cta-hover;
        border-color: $color-cta;
        color: $color-cta;
    }
}

// button empty 
.btn-empty {
    color: $color-cta;
    background-color: transparent;
    border: 1px solid $color-cta;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &:hover {
        background-color: $color-cta;
        border: 2px solid $color-cta;
        color: $color-txt-light !important;
        transition: .5s ease-in-out;
    }
}

////////////////////////
/// blocks
////////////////////////

.btn-snippet {
    margin: 0 auto;
    width: auto;
    min-width: 200px;
    max-width: 25%;
}

////////////////////////
/// blocks
////////////////////////

.block-logo {
    display: grid !important; 
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: $padding-base*4;
    @media only screen and (max-width: 850px) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.block-intro {
    .btn-snippet {
        margin: 0;
    }
}

.block-timetable {
    // Target the first .wp-block-column specifically
    .wp-block-column:nth-child(1) {
        background-color: $color-light; // Example: Set the background color to blue for the second column
    }
    
    // Target the second .wp-block-column
    .wp-block-column:nth-child(2) {
        background-color: $color-medium; // Example: Set the background color to blue for the second column
    }
    
    // Target the third .wp-block-column
    .wp-block-column:nth-child(3) {
        background-color: $color-light; // Example: Set the background color to green for the third column
    }

    .wp-block-column {
        background-color: $color-cta; // Applies to all .wp-block-column but will be overridden for the first, second, and third children by the rules above
        border-radius: 180px;
    }
}



////////////////////////
/// forms
////////////////////////

.gform_wrapper .gform_title {
    display: none;
}
