////////////////////////
/// far scss
/// ////////////////////

////////////////////////
/// reset
/// ////////////////////

/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

////////////////////////
/// variables
////////////////////////

//layout
$container-base: 1170px;

//spacing
$padding-base: 15px;

// grid 
$grid-gap: 2rem;

//font-family
$font-heading:'Rye', serif;
$font-body: 'Barlow', sans-serif; 

$font-thin: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

//colors
$color-dark: rgb(45, 45, 45); //theme cta
$color-medium: #faeddb;
$color-light: #fdf8f2; 

$color-bg-dark: #3a342f;
$color-bg-light: #f3f3f3; //light beige

// cta colors
$color-cta: #A1110C; // cta
$color-cta-hover: #740E0A; // cta hover


// text colors dark
$color-heading-dark: #222222; // heading dark text
$color-txt-dark: #222222; // paragraph text

// text colors light
$color-heading-light: #fff; // heading light text
$color-txt-light: #fff; // paragraph light text

//shadow
$text-shadow: 1px 1px 1.2px $color-dark;
$box-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49);
$form-shadow: 1px 2px 5px 1px rgba(182, 182, 182, 0.49); 
$nav-shadow-bottom: 1px 4px 3px 0px rgba(203, 203, 203, 0.49);
$nav-shadow-top: 1px -4px 3px 0px rgba(203, 203, 203, 0.49);

// z-index 
$z-bg: -2000;
$z-cta: 1000;
$z-nav: 5000;
$z-modal: 10000; 


////////////////////////
/// general layout
/// ////////////////////

.page-wrapper {
    margin-top: -15vh;
}

.container {
    max-width: $container-base;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 $padding-base*2;
    @media only screen and (max-width: 768px) {
        padding: 0 15px;
    }
}

.wp-block-columns {
    grid-gap: $padding-base*4;
}

.wp-block-cover {
    @media only screen and (max-width: 1000) {
        min-height: initial !important;
    }
}

.text-left {
    text-align: left;
}

////////////////////////
/// typographie
////////////////////////

body {
    font-family: $font-body;
    font-weight: $font-regular;
    font-size: 1.2rem;
    color: $color-txt-dark;
    text-align: justify;
}

h1 {
    font-family: $font-heading;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 42px;
    line-height: 100px;
    color: $color-heading-dark;
    font-style: regular;
    @media only screen and (max-width: 992px) { }
    @media only screen and (max-width: 768px) {
    font-size:1.8rem;
    line-height: 60px;
}
    }
    
h2 {
    font-family: $font-heading;
    font-weight: $font-medium;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 27px;
    line-height: 40px;
    color: $color-heading-dark;
    @media only screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

h3 {
    font-family: $font-heading;
    font-weight: $font-medium;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: $color-heading-dark;
    font-style: normal;
    padding-bottom: 1rem;
    @media only screen and (max-width: 768px) {
        font-size: .8rem;
        line-height: 30px;
    }
}

p{
    font-weight: $font-thin;
    line-height: 2rem;
    font-style: normal;
    padding-bottom: 1.75rem;
    color: $color-txt-dark;
    letter-spacing: .5px;
}

a{
    font-family: $font-body;
    font-weight: $font-regular;
    line-height: 35px;
    color: $color-cta;
    font-size: inherit;
    letter-spacing: .5px;
}

ul {
    display: block;
    text-align: center;
    line-height: 2rem;
}

li {
    list-style-position: inside;
    list-style-type: disc;
    font-weight: $font-thin;
    font-size: 1.25rem !important;
}

strong {
    font-weight: $font-bold;
}

////////////////////////
/// navigation
////////////////////////

.nav-main {
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: $z-nav;
    .nav-inner {
        overflow: visible;
    }
    .nav-items {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        max-height: 400px;
        padding: 8px 0;
        .col {
            display: flex;
        }
        .nav-toggle {
            justify-content: flex-start;
            i {
                font-size: 2rem;
            }
        }
        .nav-logo {
            justify-content: center;
            overflow: hidden;
            img {
                height: 200px;
                width: 200px;
                transition: all 600ms linear;
                @media only screen and (max-width: 768px) {
                   height: 60px;
                   width: auto;
                }
            }
        }
        .nav-cta {
            justify-content: flex-end;
            .btn {
                display: none;
            }
        }
    }
}

// nav-cta active when scrolled
.nav-cta-active {
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease;
    .nav-cta {
        .btn {
            display: block !important;
            @media only screen and (max-width: 850px) {
                display: none !important;
              }
        }
    }
}

// nav logo smaller 

.logo-smaller {
    img {
        height: 160px !important;
        width: 160px !important;
        @media only screen and (max-width: 1000px) {
            height: 90px !important;
            width: auto !important;
        }
    }
}

// nav-logo large when on page over ons

.nav-logo-large {
    .nav-logo {
        display: none !important;
    }
}
 
//nav sidebar
.nav-sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 10000;
    display: none;
}

.nav-sidebar {
    translate: 100% 0%;
    transition: translate 0.7s ease-in-out;
    z-index: 10001;
    height: 100vh;
    width: auto;
    min-width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-dark;
    display: block;
    @media only screen and (max-width: 1000px) {
        min-width: 50%;
    }
    @media only screen and (max-width: 768px) {
        min-width: 90%;
    }
    #nav-sidebar-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
        height: 75px;
        font-size: 2.2rem;
        i {
            padding: $padding-base;
        }
    }
    .nav-items {
        padding: $padding-base;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .nav-items-inner {
            width: 80%;
            .hoofd-menu {
                a:nth-child(1) { 
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    pointer-events: none;
                }
            .sub-menu {
                a {
                    pointer-events: all;
                    font-size: 1rem;
                }
            }
            }
            ul {
                text-align: left;
                margin-left: 5rem;
            }
            li {
                list-style: none;
                a {
                    color: #fff;
                    font-style: normal;
                    font-size: 1.15rem;
                    line-height: 3rem;
                }
            }
        
        }
    }
}

.nav-open {
    translate: 0% 0%;
}

.nav-overlay-open {
    display: block;
}

.open-submenu {
    display: block !important; 
}


  //footer
.nav-footer { 
background-color: $color-bg-dark;
.nav-items {
    ul {
    padding: $padding-base*2 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: $padding-base*1;
    @media only screen and (max-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    a,
    p, 
    li {
        color: $color-txt-light;
        font-size: 0.95rem;
        text-align: left;
    }
    li {
        list-style: none;
    }

    }
}
}

.credits {
    color: $color-txt-light;
    font-size: 0.8rem;
    text-align: center;
}

// button generic 
.btn {
    background-color: transparent;
    max-width: 300px;
    min-width: 200px;
    border-radius: 0px;
    font-size: .9rem;
    text-align: center;
    padding: 0 1rem;
    font-weight: $font-regular;
    display: grid;
    place-items: center;
    font-style: normal;
    letter-spacing: 1px;
    text-shadow: none;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
    @media only screen and (max-width: 768px) {
        font-size: .9rem;
    }
}

// button fill 
.btn-fill {
    color: #fff;
    background-color: $color-cta;
    border: 1px solid $color-cta;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &:hover {
        background-color: $color-cta-hover;
        border-color: $color-cta;
    }
}

// button empty 
.btn-empty {
    color: $color-cta;
    background-color: transparent;
    border: 1px solid $color-cta;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &:hover {
        background-color: $color-cta;
        border: 2px solid $color-cta;
        color: $color-txt-light !important;
        transition: .5s ease-in-out;
    }
}

////////////////////////
/// blocks
////////////////////////

.btn-snippet {
    margin: 0 auto;
    width: auto;
    min-width: 200px;
    max-width: 25%;
}

.maps {
    background-color: $color-bg-light;
    iframe {
        width: 100%;
        height: 75vh;
    }
} 

.block-txt-right,
.block-txt-left
 {

    overflow: hidden;
    .block-inner {
     height: 100%;
     position: relative;  
     @media only screen and (max-width: 1170px) {
        position: initial;  
    }
    }
    .bg {
        z-index: $z-bg;
        position: absolute;
        @media only screen and (max-width: 1170px) {
            position: initial;  
        }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .col-txt {
        min-height: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        ul {
            padding: $padding-base*2 0;
            display: inline-block;
            margin: 0 auto;
            text-align: left;
        }
        .btn {
            margin: 0 auto;
        }
        @media only screen and (max-width: 1170px) {
            min-height: auto;
            padding-top: $padding-base*3 !important;
            align-items: flex-start !important;
            height: auto !important;
            justify-content: center !important;
            padding: $padding-base*3 0;
        }
        .inner {
            padding: $padding-base*2;
            max-width: 50% !important;
            min-width: 40% !important;
            @media only screen and (max-width: 1170px) {
                max-width: 100% !important;
            }
        }
        h1 {
            color: $color-cta;
            font-size: 36px;
            line-height: 50px;
            padding: 8px 0;
        }
        p {
            padding: $padding-base 0;
        }
    }
}

.block-txt-right {
    .col-txt {
        justify-content: flex-end;
        .inner {
            text-align: center;
        }
    }
}

.block-txt-left {
    .col-txt {
        justify-content: flex-start;
    }
}

////////////////////////
/// blocks
////////////////////////

.block-logo {
    display: grid !important; 
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: $padding-base*4;
    filter: grayscale(1);
    @media only screen and (max-width: 850px) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.block-intro {
    .btn-snippet {
        margin: 0;
    }
}

.block-timetable {
    ul {
        display: inline-block;
        text-align: left;
        line-height: 30px;
        li {
            list-style: none;
        }
    }
    // Target the first .wp-block-column specifically
    .wp-block-column:nth-child(1) {
        background-color: $color-light; // Example: Set the background color to blue for the second column
    }
    
    // Target the second .wp-block-column
    .wp-block-column:nth-child(2) {
        background-color: $color-medium; // Example: Set the background color to blue for the second column
    }
    
    // Target the third .wp-block-column
    .wp-block-column:nth-child(3) {
        background-color: $color-light; // Example: Set the background color to green for the third column
    }

    .wp-block-column {
        background-color: $color-cta; // Applies to all .wp-block-column but will be overridden for the first, second, and third children by the rules above
        border-radius: 180px;
    }
}

// wp block
.wp-block-cover .container {
    @media only screen and (max-width: 768px) {
        height: 450px;
    }
}
.wp-block-cover .wp-block-cover__image-background {
    @media only screen and (max-width: 768px) {
        height: 20%;
    }
}


////////////////////////
/// forms
////////////////////////

.gform_wrapper .gform_title {
    display: none;
}
